<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Search</title>
</head>
<body>
	<h1>Search</h1>
	<form>
		Search by:
		<select>
			<option>model</option>
			<option>max price</option>
			<option>min price</option>
			<option>screen size</option>
			<option>storage</option>
		</select>
		
		<input type="text" placeholder="Search..">
		
		<table>
			<tr>
				<th>Manufacturer</th>
				<th>Model</th>
				<th>Prize</th>
				<th>Screen Size</th>
				<th>Battery</th>
				<th>RAM</th>
				<th>Storage</th>
				<th>Processor</th>
				<th>Dimensions</th>
				<th>WaterProofing</th>
			</tr>
			<tr>
				<td></td>
			</tr>
		</table>
		
		
	</form>

</body>
</html>