<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<!-- <script src="static/sideBar.js"></script> -->
<!-- <link rel="stylesheet" href="/static/sideBar.css"> -->
</head>
<body>
	<div class="header">

		<div align="left" class="logo">
			<img src="/images/logo.png" width="50px" height="30px">
			<p>PHONEPEDIA</p>
		</div>
		
		<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
		
		<div class="login" align="right">
			<img src="images/user.png" width="20px" height="20px"/>
			<p>
				<a href="../template/login.html">Login</a> 
				<a href="../template/register.html">Register</a>
			</p>
		</div>

		<div class="searchButton" align="center">

			<form action="search">

				<input type="search" name="searchField" /> 
				<input type="submit" name="searchSubmit" />
			</form>

		</div>
		
		<div id="mySidenav" class="sidenav">
  			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  			<a href="#">About</a>
  			<a href="#">Services</a>
  			<a href="#">Clients</a>
  			<a href="#">Contact</a>
		</div>

	</div>
	
	<div class="findPhone" align="left">
			<h6>Find your phone today!</h6>
			<a href="../template/findPhone.html">find!</a>
	</div>

</body>
</html>