<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>

<th:block th:insert="~{fragments/sideNav.html :: sideBarCss}"></th:block>
<th:block th:insert="~{fragments/sideNav.html :: sideBarJs}"></th:block>
</head>
<body>
	<div th:insert="~{fragments/sideNav.html :: header}">
	</div>
	
	<div class="findPhone" align="left">
			<h6>Find your phone today!</h6>
			<a href="../template/findPhone.html">find!</a>
	</div>
	
	
	
	
	
	
	
	
	
	


</body>
</html>