<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>

<th:block th:insert="~{fragments/sideNav.html :: head/link}"></th:block>
<th:block th:insert="~{fragments/sideNav.html :: head/script}"></th:block>
<link rel="stylesheet" type="text/css" media="all" href="../static/css/home.css" th:href="@{/css/home.css}">
</head>
<body>

	<div th:insert="~{fragments/sideNav.html :: header}">

	</div>
	<h2>Welcome to PHONEPEDIA, your encyclopedia of phones!</h2>
	<div class="adminLink" align="left">
			<a href="#" th:href="@{/admin}">Admin Pages</a>
	</div>
	


</body>
</html>