<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Latest Releases</title>
<th:block th:insert="~{fragments/sideNav.html :: head/link}"></th:block>
<th:block th:insert="~{fragments/sideNav.html :: head/script}"></th:block>
</head>
<body>
	<div th:insert="~{fragments/sideNav.html :: header}">
	</div>
	

	<h1>Latest Releases</h1>
	<div th:each="phone : ${phones}" style="border:solid">
	<a th:href="@{/viewPhone/{phoneId}(phoneId=${phone.phoneId})}">
		<div>
			<img src="#" th:src="@{img/}"> <span th:text="${phone.price}"></span><br>
			<br> <span th:text="${phone.manufacturer}"></span> <span
				th:text="${phone.model}"></span>
		</div>
	</a>
	</div>
	<br>
	
	


</body>
</html>