<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Search</title>
<th:block th:insert="~{fragments/sideNav.html :: head/link}"></th:block>
<th:block th:insert="~{fragments/sideNav.html :: head/script}"></th:block>
</head>
<body>
	<div th:insert="~{fragments/sideNav.html :: header}">
	</div>
	<h1>Search</h1>
	<form action="/search" method="get">
		Search by: 
		<select name="searchBy">
			<option value="model">model</option>
			<option value="maxPrice">max price</option>
			<option value="minPrice">min price</option>
			<option value="screenSize">screen size</option>
			<option value="storage">storage</option>
			<option value="dateOfRelease">date of release</option>
		</select> 
		<input type="text" name="string" placeholder="Search.."> 
		<input type="submit" value="Search">
	</form>

	<span th:text="'Search by ' + ${choice}"></span>

	<div th:each="phone : ${phones}" style="border: solid">
		<a th:href="@{/viewPhone/{phoneId}(phoneId=${phone.phoneId})}">
			<div>
				<img src="#" th:src="@{img/}"> <span th:text="${phone.price}"></span><br>
				<br> <span th:text="${phone.manufacturer}"></span> <span
					th:text="${phone.model}"></span>
			</div>
		</a>
	</div>
</body>
</html>