<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1">
<title>Survey</title>
<th:block th:insert="~{fragments/sideNav.html :: sideBarCss}"></th:block>
<th:block th:insert="~{fragments/sideNav.html :: sideBarJs}"></th:block>
</head>
<body>
	<div th:insert="~{fragments/sideNav.html :: header}">
	</div>
	<form action="#" th:action="@{/findPhone}" th:object=${phone} method="get">
		
		Manufacturer: 
		<select th:field="*{manufacturer}">
			<option th:each="m:*{manufacturers}" th:value="${m}" th:text="${m}">
		</select><br>
		 
		Model: <input type="text" th:field="*{model}"><br>
		Price: <input type="text" th:field="*{price}"><br>
		Screen Size: <input type="text" th:field="*{screenSize}"><br>
		Battery: <input type="text" th:field="*{battery}"><br>
		Ram: <input type="text" th:field="*{ram}"><br>
		Storage: <input type="text" th:field="*{storage}"><br>
		Processor: <input type="text" th:field="*{processor}"><br>
		Dimensions: <input type="text" th:field="*{dimensions}"><br>
		Water Proof Rating: <input type="text" th:field="*{waterProofRating}"><br>
		Date of release: <input type="date" th:field="*{dateOfRelease}"><br>
		
		<input type="submit" value="Search">

	</form>
	
	<div th:each="phone : ${validPhones}" style="border: solid">
		<a th:href="@{/viewPhone/{phoneId}(phoneId=${phone.phoneId})}">
			<div>
				<img src="#" th:src="@{img/}"> <span th:text="${phone.price}"></span><br>
				<br> <span th:text="${phone.manufacturer}"></span> <span
					th:text="${phone.model}"></span>
			</div>
		</a>
	</div>

</body>
</html>