<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<title>ViewPhones</title>
<th:block th:insert="~{fragments/sideNav.html :: head/link}"></th:block>
<th:block th:insert="~{fragments/sideNav.html :: head/script}"></th:block>
</head>
<body>
	<div th:insert="~{fragments/sideNav.html :: header}">
	</div>
	<div>
		<img src="#" th:src="@{img/}">  
		Manufacturer: <span th:text="${phone.manufacturer}"></span><br><br>
		Model: <span th:text="${phone.model}"></span><br><br>
		Price: $<span th:text="${phone.price}"></span><br><br>
		Screen Size: <span th:text="${phone.screenSize}"></span><br><br>
		Battery Capacity: <span th:text="${phone.battery}"></span><br><br>
		RAM: <span th:text="${phone.ram}"></span><br><br>
		Storage: <span th:text="${phone.storage}"></span><br><br>
		Processor: <span th:text="${phone.processor}"></span><br><br>
		Dimensions: <span th:text="${phone.dimensions}"></span><br><br>
		Water Proof Rating: <span th:text="${phone.waterProofRating}"></span><br><br>
		Date of Release: <span th:text="${phone.dateOfRelease}"></span><br><br>
		
	</div>
	
</body>
</html>